html,
body,
#root,
.App,
canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

h1 {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	color: pink;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#root {
	background: linear-gradient(#9187d6 50%, #b6ffda);
}
